<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="New Test">
	<classes>
      <class name="test.NewTest1"/>
      <class name="test.NewTest2"/>
      <class name="test.NewTest3"/>
      <class name="test.NewTest4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
